		@import url{'https://fonts.googleapis.com/css?family=Catamaran:400,800'};
		*{
			margin:0;
			border:0;
			padding:0;
		}
		/*
		body{
			font-family: 'Catamaran', sans-serif;
			background-color: #d8dbdb;
			font-size: 18px;
			max-width: 800px;
			margin: 0 auto;
			padding: 2%;
			color: #565859;
		}*/
		#wrapper {
			background: #f6faff;
		}
		img{
			max-width: 100%;
		}
		header{
			width: 98%;
		}
		#logo{
			max-width: 220px;
			margin: 1% 0 0 2%;
			float: left;
		}
		#callout{
			float: right;
			margin:3% 3% 2% 0;
		}
		.social {
			float: right;
			list-style-type: none;
			margin-top: 8%;
		}
		.social li {
			display: inline;
			list-style-type: none;
		}
		.banner{
			margin-bottom: 3%;
			margin: auto;
			width: 80%;
			padding: 10px;
		}
		.one-col{
			padding: 2%;
		}
		h1{
			letter-spacing: 1%;
		}
		p{
			text-align: justify;
		}
		.button-holder{
			float: right;
			margin:0 2% 4% 0;
		}
		.btn{
			float: right;
			background:#303840;
			color:#f6faff;
			text-decoration: none;
			font-weight: 800;
			padding:  8px 12px;
			border-radius: 8px;
		}
		.btn:hover{
			background: #58585A;
		}
		.line{
			clear:both;
			height: 2px;
			background-color: #e3e9e9;
			margin: 4% auto;
			width: 96%;
		}
		.two-col{
			float: left;
			width: 46%;
			padding: 2%;
		}
		a{
			color: #607cc3;
			text-decoration: none;
		}
		.contact{
			text-align: center;
			padding-bottom: 3%;
		}
		.graph{
			  display: block;
			  margin-left: auto;
			  margin-right: auto;
			  width: 50%;
		}
		@media(max-width: 600px) {
			.two-col{
				width: 97%;
			}