* { 
  margin: 0; 
  padding: 0; 
}

@font-face {
font-family: "Calluna";
src: url("../fonts/calluna-regular.otf");
}

@font-face {
font-family: "Lusitana";
src: url("../fonts/Lusitana-Regular.ttf");
}

@font-face {
font-family: "Clarkson";
src: url("../fonts/ClarksonScript-Regular.otf");
}

@font-face {
font-family: "OpenSans";
src: url("../fonts/OpenSans-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

.siteHeader {
  background-image: url("../imgs/backgroung-header-1.png");
  margin: 0;
  padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
}

.citation_ww{
  background-color: #fff;
  text-align: center;
  font-family: "OpenSans";
  /*margin: 10px !important;*/
  padding: 10px !important;
  object-position: bottom;
}

.Presentation{
  background-color: #001f49;
  background-image: url("../imgs/backgroung-body-1.png");
  /*margin: 20px !important;*/
  padding: 150px !important;
  text-align: center;
  padding-top: 40px;
  color: #fff;
  font-family: "Lusitana";
  font-size: 110%;
  height:150px;
}

.Paragraph {
  background-color: #001f49;
  background-image: url("../imgs/backgroung-body-1.png");
  /*margin: 20px !important;*/
  text-align: left;
  padding-top: 40px;
  color: #fff;
  font-family: "Lusitana";
  font-size: 100%;
  height:400px;
}

.certificationTable {
  background-color: #001f49;
  background-image: url("../imgs/backgroung-body-1.png");
  /*margin: 20px !important;*/
  text-align: left;
  padding-top: 40px;
  color: #fff;
  font-family: "Lusitana";
  font-size: 100%;
  float: none;
}

.Name{
  font-size: 150% !important;
  color: #ffd633 !important;
}

.Default {

}

nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
    width: 20%;
    border-right: 3px solid grey;
    height: 30px;
    line-height: 30px;
    font-family: "Calluna", "Times New Roman";
    font-size: 100%;
    display: inline-block;
    margin-right: 0;
  }

nav li:last-child{
	    border-right: none;
}

nav li li{
	    border-right: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 0;
  transition: .5s background-color;
}

nav a:hover {
  background-color: #7b8b78;
}

nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

/* Sub Menus */

.subMenu{
  width: 100%;
}

nav li li {
  font-size: .9em;
  font-family: "Calluna", "Times New Roman";
  text-align: center;
}

nav > ul > li {
   text-align: center;
}

nav > ul > li > a {
    padding-left: 15px;
}

/* Sub Menus */
nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

nav li:hover ul {
   display: block;
}

nav li ul li {
   display: block;
 }

 .certification a:link {
  color: #eff4b2;
  background-color: transparent;
  text-decoration: none;
}

 .certification a:visited {
  color: #eff4b2;
  background-color: transparent;
  text-decoration: none;
}

 .certification a:hover {
  color: #eff4b2;
  background-color: transparent;
  text-decoration: none;
}

 .certification a:active {
  color: #eff4b2;
  background-color: transparent;
  text-decoration: none;}

  .certification a:hover {
  background-color: #162a39;
}

/* Section defining Links' behavior for the footer*/

 .footer a:link {
  color: #001f49;
  background-color: transparent;
  text-decoration: none;
}

 .footer a:visited {
  color: #001f49;
  background-color: transparent;
  text-decoration: none;
}

 .footer a:hover {
  color: #001f49;
  background-color: transparent;
  text-decoration: none;
}

 .footer a:active {
  color: #001f49;
  background-color: transparent;
  text-decoration: none;}

  .footer a:hover {
  background-color: #001f49;
  color: #ffffff;
}
